.generator {
  display: flex;
  padding: 15px;
  border-radius: 15px;
  flex-direction: row;
  align-items: center;
  background: #12151D;
}

.generator .generator_input::-webkit-outer-spin-button,
.generator .generator_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.generator .generator_input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: #fafafa;
  background: #12151D;
  -moz-appearance: textfield;
  font-family: 'Poppins', sans-serif;
}

.generator .generator_button {
  outline: none;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #707070;
  font-weight: 500;
  transition: 250ms;
  border-radius: 12px;
  background: #171a25;
}

.generator .generator_button:disabled {
  cursor: not-allowed;
  background: #222636;
}
