body {
  background: #12151D;
}

.card {
  top: 50%;
  left: 50%;
  padding: 40px;
  position: absolute;
  border-radius: 25px;
  background: #171a25;
  transform: translate(-50%, -50%);
}

.card h1 {
  font-size: 25px;
  color: #1abc9c;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}
